<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Testing WebSocket</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script> -->
    <script src="/ps.websockets/socket.io.js"></script>
</head>

<body>
    <div id="test-websocket-app">
        <h1>{{ title }}</h1>
        <form>
            <input type="text" v-model="text" />
            <button type="submit" @click.prevent="sendMessage()">Send</button>
        </form>
        <p>
        <ul>
            <li v-for="msg of messages">{{ msg}}</li>
        </ul>
        </p>
    </div>
    <script>
        var app = new Vue({
            el: '#test-websocket-app',
            data: {
                title: 'Testing WebSockets',
                text: '',
                messages: [],
                socket: null,
            },
            methods: {
                sendMessage() {
                    console.log(`send: ${this.text}`);
                    this.socket.emit('msgToServer', this.text);
                    this.text = "";
                },
                receiveMessage(msg) {
                    console.log(`recv: ${msg}`);
                    this.messages.push(msg);
                }
            },
            created() {
                this.socket = io('http://localhost:3000', { path: '/ps.websockets' });
                this.socket.on('msgToClient', (msg) => {
                    this.receiveMessage(msg);
                });

                this.socket.on('ProcessFlowUpdatedEvent', (msg) => {
                    console.log(msg);
                });
            }
        });
    </script>
</body>

</html>